@import "../../common/styles/styles";

.pv-aboutTopBanner {
    height: 750px;
    background-image: url(images/aboutTopBg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    @include media-breakpoint-down(md) {
        height: 650px;
    }

    @include media-breakpoint-down(sm) {
        height: 490px;
    }

    @include media-breakpoint-down(xs) {
        height: 380px;
    }

    .pv-aboutInfo__wrap {
        justify-content: space-around;
        display: flex;
        flex-flow: column;

        .pv-aboutInfo {
            margin: 270px 0 60px 0;
            display: flex;
            justify-content: center;
            align-items: center;

            @include media-breakpoint-down(md) {
                margin: 0;
            }

            .pv-aboutInfo__logo {
                width: 215px;
                padding-right: 50px;

                @include media-breakpoint-down(sm) {
                    width: 180px;
                }
            }

            .pv-aboutInfo__title {
                color: #ffffff;
                font-family: "Trebuchet MS";
                font-size: 36px;
                padding-left: 50px;
                border-left: 2px solid #ffffff;
                margin: 0;

                @include media-breakpoint-down(sm) {
                    font-size: 32px;
                }

                @include media-breakpoint-down(xs) {
                    font-size: 20px;
                }
            }
        }

        .pv-aboutPoints {
            color: #ffffff;
            font-family: "Trebuchet MS";
            font-size: 36px;
            line-height: 1.2;

            .pv-aboutPoints__item {}
        }
    }
}

.pv-services {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(images/elementsBg.png);
    background-size: cover;
    background-position: center;
    padding: 13% 0;

    >* {
        flex-grow: 1;
    }
}

.pv-circleRotate {
    border-radius: 50%;
    border: 1px #000000 solid;
    width: 50%;
    height: 50%;
    margin: 0 auto 0;
    position: relative;
    transform: rotate(0deg);
    z-index: 0;
    padding: 0;

    @include media-breakpoint-down(sm) {
        width: 78%;
        height: 78%;
    }

    >.pv-circleRotate__block {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 50%;
        z-index: 10;
        visibility: hidden;

        .pv-circleRotate__icon {
            visibility: visible;
            cursor: pointer;
            text-align: center;
            overflow: hidden;
            color: #ffffff;
            border-radius: 50%;
            background-color: #000000;
            height: 16%;
            width: 16%;
            margin: -8% auto;
            transition: all 500ms ease;
            box-shadow: -10px 10px 25px rgba(0, 0, 0, 0.2);

            &:hover {}
        }

        i {
            color: #ffffff;
            font-size: 44px;
            margin: auto;
            cursor: pointer;
            width: 100%;
            height: 100%;
            display: table;

            @include media-breakpoint-down(xs) {
                font-size: 24px;
            }

            &::before {
                display: table-cell;
                vertical-align: middle;
            }
        }

        img {
            margin: auto;
        }
    }
}

.pv-circleSlider {
    position: relative;

    .pv-rotateCircle {
        margin: 0 auto;
    }

    .pv-circleRotate>.pv-circleRotate__block {
        .pv-circleRotate__icon {
            position: relative;
            overflow: visible;
            background-color: #1f2845;

            span {
                transform: rotate(0deg);
                transition: all 2s;
                opacity: 0;
            }
        }

        &.active .pv-circleRotate__icon {
            font-size: 20px;
            background-color: #f80005;
            transition: all 1s;

            span {
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                transform: rotate(-45deg);
                z-index: -1;
                opacity: 1;

                &:before {
                    position: absolute;
                    height: 1px;
                    top: -50%;
                    right: 140%;
                    bottom: 0;
                    margin: auto;
                    content: "";
                    width: 30%;
                    height: 30%;
                    filter: blur(3px);
                    opacity: 0.7;
                    border: 6px solid #f48e2a;
                    z-index: -1;
                }

                &:after {
                    position: absolute;
                    height: 1px;
                    top: 100%;
                    left: 130%;
                    bottom: 0;
                    margin: auto;
                    content: "";
                    width: 40%;
                    height: 40%;
                    border-radius: 50%;
                    opacity: 0.7;
                    border: 8px solid #fe9290;
                    z-index: 5;
                }
            }
        }
    }

    .count2 li:nth-child(2) {
        transform: rotate(180deg);
    }

    .count3 li {
        &:nth-child(2) {
            transform: rotate(120deg);
        }

        &:nth-child(3) {
            transform: rotate(240deg);
        }
    }

    .count4 li {
        &:nth-child(2) {
            transform: rotate(90deg);
        }

        &:nth-child(3) {
            transform: rotate(180deg);
        }

        &:nth-child(4) {
            transform: rotate(270deg);
        }
    }

    .count5 li {
        &:nth-child(2) {
            transform: rotate(72deg);
        }

        &:nth-child(3) {
            transform: rotate(144deg);
        }

        &:nth-child(4) {
            transform: rotate(216deg);
        }

        &:nth-child(5) {
            transform: rotate(-72deg);
        }
    }

    .count6 li {
        &:nth-child(2) {
            transform: rotate(60deg);
        }

        &:nth-child(3) {
            transform: rotate(120deg);
        }

        &:nth-child(4) {
            transform: rotate(180deg);
        }

        &:nth-child(5) {
            transform: rotate(240deg);
        }

        &:nth-child(6) {
            transform: rotate(-60deg);
        }
    }

    .count7 li {
        &:nth-child(2) {
            transform: rotate(51.5deg);
        }

        &:nth-child(3) {
            transform: rotate(103deg);
        }

        &:nth-child(4) {
            transform: rotate(154.5deg);
        }

        &:nth-child(5) {
            transform: rotate(206deg);
        }

        &:nth-child(6) {
            transform: rotate(-103deg);
        }

        &:nth-child(7) {
            transform: rotate(-51.5deg);
        }
    }

    .count8 li {
        &:nth-child(2) {
            transform: rotate(45deg);
        }

        &:nth-child(3) {
            transform: rotate(90deg);
        }

        &:nth-child(4) {
            transform: rotate(135deg);
        }

        &:nth-child(5) {
            transform: rotate(180deg);
        }

        &:nth-child(6) {
            transform: rotate(-135deg);
        }

        &:nth-child(7) {
            transform: rotate(-90deg);
        }

        &:nth-child(8) {
            transform: rotate(-45deg);
        }
    }

    .count9 li {
        &:nth-child(2) {
            transform: rotate(40deg);
        }

        &:nth-child(3) {
            transform: rotate(80deg);
        }

        &:nth-child(4) {
            transform: rotate(120deg);
        }

        &:nth-child(5) {
            transform: rotate(160deg);
        }

        &:nth-child(6) {
            transform: rotate(-160deg);
        }

        &:nth-child(7) {
            transform: rotate(-120deg);
        }

        &:nth-child(8) {
            transform: rotate(-80deg);
        }

        &:nth-child(9) {
            transform: rotate(-40deg);
        }
    }

    .count10 li {
        &:nth-child(2) {
            transform: rotate(36deg);
        }

        &:nth-child(3) {
            transform: rotate(72deg);
        }

        &:nth-child(4) {
            transform: rotate(108deg);
        }

        &:nth-child(5) {
            transform: rotate(144deg);
        }

        &:nth-child(6) {
            transform: rotate(-180deg);
        }

        &:nth-child(7) {
            transform: rotate(-144deg);
        }

        &:nth-child(8) {
            transform: rotate(-108deg);
        }

        &:nth-child(9) {
            transform: rotate(-72deg);
        }

        &:nth-child(10) {
            transform: rotate(-36deg);
        }
    }

    .pv-animateWrapper {
        width: 31%;
        height: 31%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border-radius: 50%;

        @include media-breakpoint-down(sm) {
            width: 49%;
            height: 49%;
        }
    }

    .pv-animateTitle {
        color: #fff;
        font-family: "Trebuchet MS";
        font-size: 20px;
        line-height: 1.2;

        @include media-breakpoint-down(md) {
            font-size: 16px;
        }

        @include media-breakpoint-down(sm) {
            font-size: 20px;
        }

        @include media-breakpoint-down(xs) {
            font-size: 10px;
        }

        h4 {
            font-family: "Trebuchet MS";
            font-size: 36px;
            margin-bottom: 10px;

            @include media-breakpoint-down(md) {
                font-size: 30px;
            }

            @include media-breakpoint-down(sm) {
                font-size: 36px;
            }

            @include media-breakpoint-down(xs) {
                font-size: 16px;
            }
        }
    }

    .pv-animateImg {
        width: 25%;
        height: 25%;
        border-radius: 50%;
        overflow: hidden;

        .pv-animateImg__in {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            border-radius: 50%;
            background-repeat: no-repeat;
            z-index: 3;
            transform: rotate3d(0, 0, 0, 0deg) scale(0.85);
            transition: 0.55s ease-in-out;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-size: cover;
            box-shadow: -20px 20px 50px rgba(0, 0, 0, 0.3);
        }
    }

    .pv-animateMore {
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s 0.4s;
        min-width: 131px;
        overflow: hidden;
        text-align: center;
        z-index: 30;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        padding: 15px;
        height: 50%;
        transform: scale(0.8);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pv-animate.active {
        .pv-animateMore {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }

        .pv-animateImg .pv-animateImg__in {
            opacity: 1;
            transform: scale(1);
        }
    }

    .pv-rotateCircle__prev,
    .pv-rotateCircle__next {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        display: block;
        height: 36px;
        width: 20px;
        text-align: center;
        cursor: pointer;
        color: #0e974f;
        font-size: 25px;

        span {
            writing-mode: vertical-rl;
            text-orientation: upright;
            font-weight: 700;
        }
    }

    .pv-rotateCircle__prev {
        left: 19%;

        @include media-breakpoint-down(sm) {
            left: 3%;
        }
    }

    .pv-rotateCircle__next {
        right: 19%;

        @include media-breakpoint-down(sm) {
            right: 3%;
        }
    }

}

.pv-aboutCompany {
    margin: 100px 0;

    @include media-breakpoint-down(md) {
        margin: 50px 0 100px 0;
    }

    @include media-breakpoint-down(sm) {
        margin: 20px 0 50px 0;
    }

    .pv-aboutCompany__title {
        text-align: center;
        margin-bottom: 50px;

        h2 {
            font-family: "Trebuchet MS";
            font-size: 36px;
        }
    }

    .pv-aboutCompany__body {
        .pv-aboutCompany__image {
            width: 100%;

            img {
                width: 100%;
            }
        }

        .pv-aboutCompany__text {
            font-size: 14px;
            font-weight: 300;
            line-height: 2;
            padding-right: 30px;
        }
    }
}

.pv-ourMission {
    padding: 75px 0;

    @include media-breakpoint-down(xs) {
        padding: 50px 0;
    }

    .pv-ourMission__titleWrap {
        text-align: center;
        margin-bottom: 75px;

        .pv-ourMission__title {
            font-family: "Trebuchet MS";
            font-size: 36px;
            margin-bottom: 20px;
        }

        .pv-ourMission__detail {
            font-size: 14px;
            font-weight: 300;
            line-height: 2;
            max-width: 920px;
            margin: 0 auto;
        }
    }

    .pv-ourMission__item {
        display: flex;
        flex-flow: row-reverse;
        margin-bottom: 100px;
        justify-content: center;
        align-items: center;

        @include media-breakpoint-down(md) {
            margin-bottom: 70px;
        }

        @include media-breakpoint-down(xs) {
            flex-flow: column;
        }

        &:nth-child(2n) {
            flex-flow: row;

            @include media-breakpoint-down(xs) {
                flex-flow: column;
            }

            .pv-ourMission__item_data {
                padding-right: 50px;
                padding-left: 75px;

                @include media-breakpoint-down(md) {
                    padding-left: 10px;
                }

                @include media-breakpoint-down(xs) {
                    padding-left: 15px;
                    margin-top: 30px;
                    padding-right: 15px;
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        .pv-ourMission__item_data {
            display: flex;
            flex-flow: column;
            width: 50%;
            padding-right: 75px;
            padding-left: 50px;

            @include media-breakpoint-down(md) {
                padding-right: 10px;
            }

            @include media-breakpoint-down(xs) {
                padding-left: 15px;
                margin-top: 30px;
                padding-right: 15px;
            }

            @include media-breakpoint-down(xs) {
                width: 100%;
            }

            .pv-ourMission__item_title {
                font-family: "Trebuchet MS";
                font-size: 30px;

                @include media-breakpoint-down(sm) {
                    margin-top: 15px;
                    font-size: 20px;
                }

                @include media-breakpoint-down(xs) {
                    margin-top: 0;
                }
            }

            .pv-ourMission__item_text {
                font-size: 14px;
                font-weight: 300;
                line-height: 1.7;
                margin-top: 20px;

                @include media-breakpoint-down(sm) {
                    margin-top: 10px;
                    font-size: 14px;
                    line-height: 1.3;
                }
            }
        }

        .pv-ourMission__item_img-wrapper {
            width: 50%;

            @include media-breakpoint-down(xs) {
                width: 100%;
            }

            .pv-ourMission__item_img {
                width: 100%;
                border-radius: 15px;
            }
        }
    }
}

.pv-ourAdvantages {
    .pv-ourAdvantages__titleWrap {
        margin-bottom: 25px;

        .pv-ourAdvantages__title {
            font-family: "Trebuchet MS";
            font-size: 36px;
            text-align: center;
        }
    }

    .pv-ourAdvantages__items {
        margin: 25px 0;

        .pv-ourAdvantages__item {
            justify-content: start;
            align-items: center;
            display: flex;
            flex-flow: column;
            padding: 0 20px;

            @include media-breakpoint-down(sm) {
                padding: 0 40px;
            }

            @include media-breakpoint-down(xs) {
                padding: 0 70px;
            }

            .pv-ourAdvantages__item-icon {
                margin-bottom: 25px;
            }

            .pv-ourAdvantages__item-text {
                font-size: 16px;
                font-weight: 300;
                line-height: 1.6;
                text-align: center;
            }
        }
    }
}

.pv-stock {
    margin: 100px 0;

    .pv-stock__title {
        font-family: "Trebuchet MS";
        font-size: 36px;
        text-align: center;
    }

    .pv-stock__desc {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.7;
        text-align: center;
        max-width: 800px;
        margin: 20px auto;
        width: 90%;
    }

    .pv-stock__img {
        height: 335px;
        background-image: url(images/stockBg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
}

.pv-ourBrands {
    margin: 50px 0;
    text-align: center;

    .pv-ourBrands__title {
        font-family: "Trebuchet MS";
        font-size: 36px;
    }

    .pv-ourBrands__slider {
        margin: 65px 0;
        display: flex;
        justify-content: center;

        @include media-breakpoint-down(sm) {
            width: 90%;
            margin: 40px auto;
        }

        .pv-ourBrands__sliderItem {
            padding: 0 60px;
        }

        .slick-track {
            display: flex;
            align-items: center;
        }

        .slick-prev,
        .slick-next {
            &:before {
                color: #ed1c24;
                font-family: "FontAwesome";
                font-size: 30px;
            }
        }

        .slick-prev {
            &:before {
                content: "\F104";
            }
        }

        .slick-next {
            &:before {
                content: "\F105";
            }
        }
    }

    .pv-ourBrands__all {
        color: #979797;
        font-size: 14px;
        font-weight: 300;
        text-decoration: underline;
        text-transform: uppercase;

    }
}