.pv-addresses
    .container
        .row
            .col-12
                .pv-addressesHeader
                    h3.pv-addressesTitle Адреса магазинов
                    .pv-addressesView
                        .pv-addressesView__item.pv-addresses__listView
                            i.fa.fa-list
                            | Список
                        .pv-addressesView__item.pv-addresses__mapView
                            i.fa.fa-map-marker
                            | Карта
                .pv-addressesWrap
                    #pv-addressesList.pv-addressesList
                        .pv-addressesListRow
                            .pv-addressesListRow__title СВАО, м. Владыкино, ЛЦ «Аврора» 
                            .pv-addressesListRow__links 
                                a(href="#").pv-addressesListRow__link Схема проезда
                                a(href="#").pv-addressesListRow__link Заказать пропуск
                        .pv-addressesListRow
                            .pv-addressesListRow__title ЮВАО, м. Кожуховская, ТД «Автомобили»
                            .pv-addressesListRow__links 
                                a(href="#").pv-addressesListRow__link Схема проезда
                                a(href="#").pv-addressesListRow__link Заказать пропуск                                    
                        .pv-addressesListRow
                            .pv-addressesListRow__title ЗАО, м. Молодежная, авторынок «Автомолл»
                            .pv-addressesListRow__links 
                                a(href="#").pv-addressesListRow__link Схема проезда
                                a(href="#").pv-addressesListRow__link Заказать пропуск
                        .pv-addressesListRow
                            .pv-addressesListRow__title ЮАО, м. Домодедовская, АТЦ « Москва»
                            .pv-addressesListRow__links 
                                a(href="#").pv-addressesListRow__link Схема проезда
                                a(href="#").pv-addressesListRow__link Заказать пропуск
                        .pv-addressesListRow
                            .pv-addressesListRow__title СВАО, м. Владыкино, ЛЦ «Аврора» 
                            .pv-addressesListRow__links 
                                a(href="#").pv-addressesListRow__link Схема проезда
                                a(href="#").pv-addressesListRow__link Заказать пропуск
                        .pv-addressesListRow
                            .pv-addressesListRow__title ЮВАО, м. Кожуховская, ТД «Автомобили»
                            .pv-addressesListRow__links 
                                a(href="#").pv-addressesListRow__link Схема проезда
                                a(href="#").pv-addressesListRow__link Заказать пропуск                                    
                        .pv-addressesListRow
                            .pv-addressesListRow__title ЗАО, м. Молодежная, авторынок «Автомолл»
                            .pv-addressesListRow__links 
                                a(href="#").pv-addressesListRow__link Схема проезда
                                a(href="#").pv-addressesListRow__link Заказать пропуск
                        .pv-addressesListRow
                            .pv-addressesListRow__title ЮАО, м. Домодедовская, АТЦ « Москва»
                            .pv-addressesListRow__links 
                                a(href="#").pv-addressesListRow__link Схема проезда
                                a(href="#").pv-addressesListRow__link Заказать пропуск                                    
                    .pv-addressesMap