@import "~bootstrap/scss/functions";
//colors

$blue: #0071bc;
$dark-blue: #1c2e54;
$dark-grey: #333;

//fonts
$font-family-sans-serif: "Rubik",
sans-serif;
$font-family-thin: "Rubik",
sans-serif;
$grid-breakpoints: (xs: 0,
  sm: 670px,
  md: 960px,
  lg: 1200px,
  xl: 1388px);
$container-max-widths: (xs: 100%,
  sm: 100%,
  md: 990px,
  lg: 1230px,
  xl: 1396px);

@import "~bootstrap/scss/variables";
