@import "../../common/styles/styles";

.custom-container {
  margin: 0 !important;
}

.custom-container-fluid {
  padding-right: 25px !important;
  padding-left: 25px !important;
}

.pv-header {
  background-color: #000;
  z-index: 10;
  position: relative;

  .pv-header__wrap {
    height: 100px;
  }

  .pv-header__city {
    margin-left: 45px;
    color: #fff;

    .pv-header__cityInfo {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .pv-header__cityInfo_open {
      .pv-header__cityArrow {
        transform: rotate(180deg) !important;
      }
    }

    .pv-header__cityName {
      font-weight: 300;
      transition: all 0.3s ease-in-out;
    }

    .pv-header__cityInfo {
      &:hover {
        color: #ed1c24;
      }
    }

    .pv-header__cityArrow {
      display: block;
      width: 6px;
      height: 3px;
      margin-left: 5px;
      background-image: url(images/icon-arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
      transition: all 0.3s ease-in-out;
    }
  }

  .pv-header__left,
  .pv-header__right {
    display: flex;
    align-items: center;
  }

  .pv-header__left {
    justify-content: space-between;
  }

  .pv-header__right {
    justify-content: flex-end;

    .pv-header__wrap {
      width: 100%;
    }
  }

  .pv-header__burger {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 45px;

    .pv-header__burgerBtn_open {
      .pv-header__burgerBtn__item_first {
        margin-top: -1px !important;
        transform: rotate(45deg) !important;
      }

      .pv-header__burgerBtn__item_second {
        opacity: 0 !important;
      }

      .pv-header__burgerBtn__item_third {
        margin-top: -1px !important;
        transform: rotate(-45deg) !important;
      }
    }

    .pv-header__burgerBtn {
      position: absolute;
      z-index: 1000;
      width: 30px;
      height: 30px;
      cursor: pointer;

      .pv-header__burgerBtn__wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &:hover {
          .pv-header__burgerBtn__item {
            background-color: #ed1c24;
          }
        }

        .pv-header__burgerBtn__item {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 30px;
          height: 2px;
          margin: -1px 0 0 -15px;
          background-color: #fff;
          transition: all 0.5s ease-in-out;
        }

        .pv-header__burgerBtn__item_first {
          margin-top: -9px;
          transform: rotate(0deg);
        }

        .pv-header__burgerBtn__item_second {
          opacity: 1;
        }

        .pv-header__burgerBtn__item_third {
          margin-top: 7px;
          transform: rotate(0deg);
        }
      }
    }
  }

  .pv-header__contacts {
    align-items: center;
    height: 100px;
    margin: 0;

    .pv-heade__contact-left {
      padding-top: 5px;
    }

    .pv-heade__contact-right {
      line-height: 1.6;
    }

    .pv-header__contact {
      display: flex;
      justify-content: center;
      color: #fff;

      .pv-header__contactIcon {
        margin-right: 15px;
      }

      .pv-header__phone {
        font-size: 18px;
        font-weight: 500;
      }

      .pv-header__phoneDesc {
        font-weight: 300;
      }
    }
  }

  .pv-header__social {
    display: flex;
    justify-content: start;
    padding: 0;
    margin: 0;

    .pv-header__socialItem {
      margin: 0 7px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .pv-header__info {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0 0 0 80px;

    .pv-header__infoItem {
      position: relative;
      margin: 0 7px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      .pv-header__infoIconCount {
        position: absolute;
        top: -4px;
        right: -5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 11px;
        height: 11px;
        color: #fff;
        font-size: 8px;
        background-color: #d0021b;
        border-radius: 50%;
      }
    }
  }
}

.pv-nav {
  color: #fff;
  font-size: 16px;
  background-color: #242424;
  z-index: 10;
  position: relative;

  .pv-nav__wrap {
    height: 50px;
  }

  .pv-nav__menu-wrap {
    display: flex;
    justify-content: center;
    padding-right: 318px;
  }

  .pv-nav__catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Trebuchet MS";
    font-weight: 700;
    text-transform: uppercase;
    background-color: #ed1c24;
    cursor: pointer;
  }

  .pv-nav__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

    .pv-nav__menuItem {
      margin: 0 14px;

      &:hover {
        text-decoration: underline;
      }

      .pv-nav__menuLink {
        color: #fff;
        font-weight: 300;
        text-decoration: none;
      }
    }
  }

  .pv-nav__search {
    display: flex;

    .pv-nav__searchInput {
      position: absolute;
      right: 0;
      z-index: 100;
      width: 318px;
      height: 50px;
      padding: 0 17px;
      font-weight: 300;
      transition: width 0.3s ease-in-out;

      &:focus {
        width: 100%;
      }
    }

    .pv-nav__searchBtn {
      position: absolute;
      right: 0;
      z-index: 1000;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 68px;
      height: 50px;
      background-color: #ed1c24;
      cursor: pointer;
    }
  }
}

.showFade {
  opacity: 1 !important;
  transition: all 0.3s ease-in-out;
}
