@import "../../common/styles/styles";

.pv-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 25px;
  background-color: #000;

  .pv-header__city {
    margin-left: 45px;
    color: #fff;

    .pv-header__cityInfo {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .pv-header__cityInfo_open {
      .pv-header__cityArrow {
        transform: rotate(180deg) !important;
      }
    }

    .pv-header__cityName {
      transition: all .3s ease-in-out;
    }

    .pv-header__cityInfo {
      &:hover {
        color: #ed1c24;
      }
    }

    .pv-header__cityArrow {
      display: block;
      width: 6px;
      height: 3px;
      margin-left: 5px;
      background-image: url("./images/icon-arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
      transition: all .3s ease-in-out;
    }
  }

  .pv-header__left,
  .pv-header__right {
    display: flex;
    align-items: center;
  }

  .pv-header__burger {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 45px;

    .pv-header__burgerBtn_open {
      .pv-header__burgerBtn__item_first {
        margin-top: -1px !important;
        transform: rotate(45deg) !important;
      }

      .pv-header__burgerBtn__item_second {
        opacity: 0 !important;
      }

      .pv-header__burgerBtn__item_third {
        margin-top: -1px !important;
        transform: rotate(-45deg) !important;
      }
    }

    .pv-header__burgerBtn {
      position: absolute;
      z-index: 1000;
      width: 30px;
      height: 30px;
      cursor: pointer;

      .pv-header__burgerBtn__wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &:hover {
          .pv-header__burgerBtn__item {
            background-color: #ed1c24;
          }
        }

        .pv-header__burgerBtn__item {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 30px;
          height: 2px;
          margin: -1px 0 0 -15px;
          background-color: #fff;
          transition: all .5s ease-in-out;
        }

        .pv-header__burgerBtn__item_first {
          margin-top: -9px;
          transform: rotate(0deg);
        }

        .pv-header__burgerBtn__item_second {
          opacity: 1;
        }

        .pv-header__burgerBtn__item_third {
          margin-top: 7px;
          transform: rotate(0deg);
        }
      }
    }
  }

  .pv-header__contacts {
    display: flex;

    .pv-heade__contact-left {
      padding-top: 5px;
    }

    .pv-heade__contact-right {
      line-height: 1.6;
    }

    .pv-header__contact {
      display: flex;
      margin: 0 10px;
      color: #fff;

      .pv-header__contactIcon {
        margin-right: 15px;
      }

      .pv-header__phone {
        font-size: 18px;
        font-weight: 600;
      }
    }
  }

  .pv-header__social {
    display: flex;

    .pv-header__socialItem {
      margin: 0 7px;
    }
  }

  .pv-header__info {
    display: flex;
    margin-left: 53px;

    .pv-header__infoItem {
      position: relative;
      margin: 0 7px;

      .pv-header__infoIconCount {
        position: absolute;
        top: -4px;
        right: -5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 11px;
        height: 11px;
        color: #fff;
        font-size: 8px;
        background-color: #d0021b;
        border-radius: 50%;
      }
    }
  }
}

.pv-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 50px;
  color: #fff;
  font-size: 16px;
  background-color: #242424;

  .pv-nav__catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #ed1c24;
    cursor: pointer;
  }

  .pv-nav__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px;

    .pv-nav__menuItem {
      margin: 0 14px;

      &:hover {
        text-decoration: underline;
      }

      .pv-nav__menuLink {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .pv-nav__search {
    display: flex;
    width: 318px;

    .pv-nav__searchInput {
      position: absolute;
      right: 0;
      z-index: 100;
      width: 318px;
      height: 50px;
      padding: 0 17px;
      transition: width .3s ease-in-out;

      &:focus {
        width: calc(100% - 200px);
      }
    }

    .pv-nav__searchBtn {
      position: absolute;
      right: 0;
      z-index: 1000;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 68px;
      height: 50px;
      background-color: #ed1c24;
      cursor: pointer;
    }
  }
}
