.pv-feedbacks
    .row.pv-feedbacks__top
        .col-12
            .pv-feedbacks__title Отзывы
            .pv-feedbacks__desc Мы ценим каждого клиента и стараемся получить обратную связь о качестве обслуживания. 
                br
                | Мы уверены, что отзывы помогут выбрать нашу компанию в качестве надежного партнера. 
                br
                br
                | Вы можете посмотреть отзывы о нас на следующих сайтах:
    .row.pv-feedbacks__logos
        .col-12.col-sm-6.col-md-3
            img(src=require("./images/logos1.png")).pv-feedbacks__logo
        .col-12.col-sm-6.col-md-3
            img(src=require("./images/logos2.png")).pv-feedbacks__logo
        .col-12.col-sm-6.col-md-3
            img(src=require("./images/logos3.png")).pv-feedbacks__logo
        .col-12.col-sm-6.col-md-3
            img(src=require("./images/logos4.png")).pv-feedbacks__logo


