.pv-feedbacks
    .container
        .row.pv-feedbacks__top
            .col-12
                .pv-feedbacks__title Отзывы
                .pv-feedbacks__desc Мы ценим каждого клиента и стараемся получить обратную связь о качестве обслуживания. 
                    br
                    | Мы уверены, что отзывы помогут выбрать нашу компанию в качестве надежного партнера. 
                    br
                    br
                    | Вы можете посмотреть отзывы о нас на следующих сайтах:
        .row.pv-feedbacks__logos
            .col-12.col-sm-6.col-lg-3
                img(src=require("./images/logo_yandexmarket.svg")).pv-feedbacks__logo
            .col-12.col-sm-6.col-lg-3
                img(src=require("./images/logo_zoon.svg")).pv-feedbacks__logo
            .col-12.col-sm-6.col-lg-3
                img(src=require("./images/logo_tilbagevise.svg")).pv-feedbacks__logo
            .col-12.col-sm-6.col-lg-3
                img(src=require("./images/logo_propartner.svg")).pv-feedbacks__logo


