extends ../../components/base/base
block title
    | Order page
block main
    .container
        .row
            ul.col-12.pv-breadcrumb 
                li.pv-breadcrumb__item 
                    a(href="#").pv-breadcrumb__link Главная страница
                li.pv-breadcrumb__item Каталог товаров
