@import "../../common/styles/styles";

.pv-order {
    .pv-orderTop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        @include media-breakpoint-down(lg) {
            margin-bottom: 30px;
        }

        .pv-orderTitle {
            font-family: "Trebuchet MS";
            font-size: 36px;
            font-weight: 400;

            @include media-breakpoint-down(sm) {
                font-size: 35px;
            }
        }

        .pv-order__back {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000000;

            img {
                width: 20px;
                margin-right: 10px;
            }
        }
    }

    .pv-orderDelivery {}

    .pv-orderPayment {}

    .pv-orderSale {
        .pv-orderSale__row {
            display: flex;
            flex-flow: column;
            width: 100%;
            margin-bottom: 10px;

            .pv-orderSale__top {
                display: flex;
                align-items: start;

                .pv-orderSale__topIcon {
                    width: 22px;
                    height: 22px;
                    display: block;
                    border-radius: 50%;
                    border: 1px solid #e0e7ee;
                    margin-right: 10px;
                    cursor: pointer;

                    &.selected {
                        background-image: url(images/selected.svg);
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }

                .pv-orderSale__topName_wrap {
                    margin-bottom: 5px;

                    .pv-orderSale__topName {
                        display: flex;

                        .pv-orderSale__topInfo {
                            color: #999999;
                            border: 1px solid #999999;
                            display: flex;
                            font-size: 10px;
                            line-height: 1;
                            border-radius: 50%;
                            width: 13px;
                            height: 13px;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            margin-left: 10px;
                            position: relative;

                            &:hover {
                                .pv-orderSale__topInfo__popap {
                                    display: block;
                                }
                            }

                            .pv-orderSale__topInfo__popap {
                                display: none;
                                position: absolute;
                                padding: 10px;
                                width: 170px;
                                font-size: 12px;
                                background-color: #fff;
                                box-shadow: 0 0 4px #d9d9d9;
                                border: 1px solid #d9d9d9;
                                border-radius: 4px;
                                color: #000000;
                                line-height: 1.4;
                                bottom: 20px;
                            }
                        }
                    }

                    .pv-orderSale__topDesc {
                        color: #999999;
                        margin-top: 5px;
                    }
                }
            }

            .pv-orderSale__form {
                .pv-main_btn {
                    width: 170px;
                    margin: 0 25px;

                    @include media-breakpoint-down(sm) {
                        padding: 14px;
                    }

                    @include media-breakpoint-down(xs) {
                        font-size: 14px;
                        width: 100%;
                        margin: 0;
                    }
                }

                .pv-orderSale__formWrap {
                    display: none;

                    @include media-breakpoint-down(xs) {
                        flex-flow: column;
                    }
                }

                .pv-orderSale__edit {
                    display: flex;
                    font-size: 12px;
                    margin: 15px 0;

                    .pv-orderSale__editVal {
                        margin: 0 5px;
                    }

                    .pv-orderSale__cancel {
                        color: #0e974f;
                        text-decoration: underline;
                        margin-left: 5px;
                        cursor: pointer;
                    }
                }

                &.active {
                    .pv-orderSale__formWrap {
                        display: flex;
                        align-items: flex-end;
                    }

                    .pv-orderSale__edit {
                        display: none;
                    }
                }
            }

            .pv-orderSale__info {
                display: flex;
                align-items: flex-start;
                margin-top: 10px;

                .pv-orderSale__infoIcon {
                    margin-right: 10px;
                }

                .pv-orderSale__infoText {}
            }
        }
    }

    .pv-orderBlockTitle {
        font-family: "Trebuchet MS";
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
    }

    .pv-orderBlockWrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 25px 0;

        .pv-orderDelivery__selfData {
            margin: 10px 0;

            @include media-breakpoint-down(sm) {
                width: 100%;
            }

            .pv-orderDelivery__selfData__row {
                display: flex;
                align-items: flex-start;
                margin: 8px 0;

                .pv-orderDelivery__selfData__icon {
                    margin-right: 10px;
                }

                .pv-orderDelivery__selfData__text {}
            }

            .pv-orderDelivery__selfData__btn {
                color: #979797;
                font-size: 15px;
                font-weight: 500;
                width: 350px;
                height: 50px;
                border-radius: 4px;
                border: 1px solid #979797;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;
                cursor: pointer;

                @include media-breakpoint-down(sm) {
                    width: 100%;
                }
            }
        }

        .pv-orderDelivery__selfMap {
            @include media-breakpoint-down(sm) {
                width: 100%;
                margin-top: 30px;
            }

            img {
                width: 100%;
            }

            .pv-orderDelivery__showOnMap {
                margin-top: 15px;
                color: #0e974f;
                font-size: 14px;
                text-align: center;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    .pv-orderBlockWrapMap {
        flex-wrap: nowrap;

        @include media-breakpoint-down(sm) {
            flex-wrap: wrap;
        }
    }

    .pv-orderBlockRadio {
        width: 362px;
        border-radius: 5px;
        border: 1px solid #e0e7ee;
        padding: 15px;
        position: relative;
        margin: 12px 0;
        cursor: pointer;

        @include media-breakpoint-down(lg) {
            width: 470px;
        }

        @include media-breakpoint-down(md) {
            width: 340px;
        }

        @include media-breakpoint-down(sm) {
            width: 100%;
        }

        &:after {
            content: "";
            width: 22px;
            height: 22px;
            display: block;
            border-radius: 50%;
            border: 1px solid #e0e7ee;
            position: absolute;
            right: 15px;
            top: 15px;
        }

        &.active {
            &:after {
                background-image: url(images/selected.svg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        .pv-orderBlockRadio__title {
            font-family: "Trebuchet MS";
            font-size: 19px;
        }

        .pv-orderBlockRadio__desc {
            color: #999999;
        }
    }

    .pv-orderBlockRow {
        width: 100%;
        display: flex;
        flex-flow: column;
        margin: 10px 0;

        &.short {
            width: 362px;

            @include media-breakpoint-down(lg) {
                width: 470px;
            }

            @include media-breakpoint-down(md) {
                width: 340px;
            }

            @include media-breakpoint-down(sm) {
                width: 255px;
            }

            @include media-breakpoint-down(xs) {
                width: 100%;
            }
        }

        &.hide {
            display: none;
        }

        &.active {
            display: flex;
        }

        .pv-orderBlockLabel {
            font-weight: 300;
            margin-bottom: 10px;

            &.req {
                &:after {
                    content: "*";
                    color: #ed1c24;
                    font-weight: 400;
                }
            }
        }

        .pv-orderBlockInput {
            background-color: #f1f3f6;
            border-radius: 5px;
            padding: 13px 16px;
            color: #4a4a4a;
        }

        .pv-customSelect {
            .select-selected {
                background-color: #f1f3f6;
                color: #4a4a4a;
                font-size: 14px;
                padding: 17px 35px 17px 13px !important;

                &:after {
                    top: 17px;
                    right: 19px;
                }
            }

            .select-items {
                div {
                    font-size: 14px;
                    padding: 13px;
                }
            }
        }
    }

    .pv-orderAside {
        position: relative;

        .pv-orderAside__wrap {
            position: absolute;
            width: 100%;
            max-width: 316px;
            right: 0;

            @include media-breakpoint-down(lg) {
                position: relative;
                max-width: 100%;
                border-top: 1px solid #e0e7ee;
                padding-top: 35px;
            }
        }

        &.fixed {
            .pv-orderAside__wrap {
                position: fixed;
                top: 0;

                @include media-breakpoint-down(lg) {
                    position: relative;
                    right: 0 !important;
                }
            }
        }

        .pv-orderAside__box {
            background-color: #f1f3f6;
            padding: 20px;

            @include media-breakpoint-down(lg) {
                border-radius: 4px;

                &.show {
                    .pv-orderAside__rowsWrap {
                        display: block;
                    }

                    .pv-orderAside__rowsNav {
                        margin: 0 0 15px 0 !important;

                        &:after {
                            content: "\F077";
                        }
                    }
                }

                .pv-orderAside__rowsWrap {
                    display: none;
                }

                .pv-orderAside__rowsNav {
                    margin: 0 !important;
                    padding-right: 30px;
                    position: relative;
                    cursor: pointer;
                    border-bottom: none !important;

                    &:after {
                        position: absolute;
                        content: "\F078";
                        color: #0e974f;
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size: 13px;
                        top: 3px;
                        right: 0;
                        font-weight: 100;
                    }
                }
            }

            .pv-orderAside__row {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                margin: 15px 0;

                @include media-breakpoint-down(lg) {
                    border-bottom: 1px dotted #e0e7ee;
                }

                &:first-child {
                    margin: 0 0 15px 0;
                }

                &:last-child {
                    margin: 15px 0 0 0;
                }

                &.pv-orderAside__TK-info {
                    display: none;
                    color: #ed1c24;
                }

                &.active {
                    display: flex;
                }
            }

            .pv-orderAside__item {
                margin: 15px 0;

                .pv-orderAside__itemName {
                    margin-bottom: 5px;
                }

                .pv-orderAside__itemInfo {
                    color: #999999;
                    font-family: "Trebuchet MS";
                    font-size: 12px;
                    text-decoration: underline;
                }
            }

            .pv-orderAside__bonus {
                display: flex;
                color: #6d7278;
                font-family: "Rubik";
                font-size: 14px;
                font-weight: 400;

                span {
                    color: #0e974f;
                    font-weight: 500;
                    margin-right: 5px;
                }

                .pv-orderAside__bonusInfo {
                    color: #999999;
                    border: 1px solid #999999;
                    display: flex;
                    font-size: 10px;
                    line-height: 1;
                    border-radius: 50%;
                    width: 13px;
                    height: 13px;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    margin-left: 10px;
                    position: relative;

                    &:hover {
                        .pv-orderAside__bonusInfo__popap {
                            display: block;
                        }
                    }

                    .pv-orderAside__bonusInfo__popap {
                        display: none;
                        position: absolute;
                        padding: 10px;
                        width: 170px;
                        font-size: 12px;
                        background-color: #fff;
                        box-shadow: 0 0 4px #d9d9d9;
                        border: 1px solid #d9d9d9;
                        border-radius: 4px;
                        color: #000000;
                        line-height: 1.4;
                        bottom: 20px;
                    }
                }
            }
        }

        .pv-orderAside__auth {
            display: flex;
            align-items: flex-start;
            margin-top: 30px;

            @include media-breakpoint-down(lg) {
                justify-content: center;
            }

            .pv-orderAside__authIcon {
                width: 20px;
            }

            .pv-orderAside__authText {
                margin-left: 10px;
            }
        }
    }

    .pv-orderConfirm {
        border-top: 1px solid #e0e7ee;
        padding-top: 30px;
        margin-top: 10px;
        margin-bottom: 50px;

        @include media-breakpoint-down(lg) {
            border-top: none;
            margin-top: 0;
        }

        .pv-orderConfirm__row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px dotted #c4c4c4;
            margin: 15px 0;

            &.total {
                .pv-orderConfirm__rowLeft {
                    line-height: 27px;
                }

                .pv-orderConfirm__rowRight {
                    font-size: 27px;
                    line-height: 1;
                }
            }

            .pv-orderConfirm__rowLeft,
            .pv-orderConfirm__rowRight {
                margin-bottom: -1px;
                background-color: #ffffff;
                font-size: 16px;
            }

            .pv-orderConfirm__rowLeft {}

            .pv-orderConfirm__rowRight {
                font-weight: 700;

                &.green {
                    color: #0e974f;
                }
            }
        }

        .pv-orderConfirm__btn {
            margin: 25px 0;

            @include media-breakpoint-down(sm) {
                padding: 14px;
            }

            @include media-breakpoint-down(xs) {
                font-size: 14px;
                width: 100%;
            }
        }

        .pv-orderConfirm__footer {
            font-size: 12px;

            a {
                color: #000000;
                text-decoration: underline;
            }
        }
    }

    .pv-orderBlockHide {
        display: none;

        &.active {
            display: block;
        }
    }
}

#deliverySelfMap {
    .modal-dialog {
        max-width: 90%;

        @include media-breakpoint-down(xs) {
            max-width: 100%;
        }
    }

    .modal-title {
        font-family: "Trebuchet MS";
        font-size: 36px;
        line-height: 1.2;
        margin-bottom: 10px;

        @include media-breakpoint-down(xs) {
            font-size: 31px;
        }
    }

    .modal-header {
        padding: 30px 40px 10px 40px;
        border-bottom: none;
    }

    .modal-body {
        padding: 0 40px 30px 40px;

        .pv-deliverySelf__modal {

            .pv-deliverySelf__modalHead {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;
                flex-flow: wrap;

                .pv-deliverySelf__modalSearch {
                    display: flex;

                    @include media-breakpoint-down(md) {
                        max-width: 100%;
                        margin-bottom: 10px;
                    }

                    .pv-deliverySelf__modalSearch_input {
                        height: 50px;
                        padding: 15px;
                        display: flex;
                        align-items: center;
                        border-radius: 4px 0 0 4px;
                        width: 750px;
                        background-color: #f1f3f6;

                        @include media-breakpoint-down(lg) {
                            max-width: 590px;
                        }

                        @include media-breakpoint-down(md) {
                            max-width: calc(100% - 50px);
                            margin-bottom: 10px;
                        }
                    }

                    .pv-deliverySelf__modalSearch_submit {
                        background-color: #f1f3f6;
                        border-radius: 0 4px 4px 0;
                        width: 50px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #4a4a4a;
                        font-size: 20px;
                    }
                }

                .pv-deliverySelf__modalHeadView {
                    display: flex;
                    align-items: center;

                    .pv-deliverySelf__modalHeadView-item {
                        display: flex;
                        align-items: center;
                        font-size: 16px;
                        font-weight: 300;
                        margin: 0 8px;
                        color: #4a4a4a;
                        cursor: pointer;

                        @include media-breakpoint-down(xs) {
                            font-size: 13px;
                        }

                        &:hover {
                            color: #000000;
                        }

                        .fa {
                            font-size: 10px;
                            margin-right: 8px;
                        }

                        .fa-map-marker {
                            font-size: 13px;
                        }
                    }
                }

                .pv-deliverySelf__modalHeadTimes {
                    .pv-deliverySelf__modalHeadTimes {
                        position: relative;
                        margin: 10px 0;
                        display: flex;
                        align-items: center;

                        @include media-breakpoint-down(sm) {
                            font-size: 13px;
                        }

                        &:before {
                            content: "";
                            width: 22px;
                            height: 22px;
                            display: block;
                            border-radius: 50%;
                            border: 1px solid #e0e7ee;
                            margin-right: 10px;

                            @include media-breakpoint-down(sm) {
                                width: 17px;
                                height: 17px;
                            }
                        }

                        &.active {
                            &:before {
                                background-image: url(images/selected.svg);
                                background-position: center;
                                background-size: cover;
                                background-repeat: no-repeat;
                            }
                        }
                    }
                }
            }

            &.list {
                .pv-deliverySelf__modalHead-listView {
                    color: #0e974f !important;
                }

                .pv-deliverySelf__modalShops {
                    display: block;
                }
            }

            &.map {
                .pv-deliverySelf__modalHead-mapView {
                    color: #0e974f !important;
                }

                .pv-deliverySelf__modalMap {
                    display: block;
                }
            }

            .pv-deliverySelf__modalShops {
                display: none;
                width: fit-content;
                margin: 0 auto;
            }

            .pv-deliverySelf__modalBody {

                .pv-deliverySelf__modalShop_row {
                    font-size: 12px;
                    border-bottom: solid 1px #e9eaec;

                    &.pv-deliverySelf__modalShop_row-header {
                        .pv-deliverySelf__modalShop_col {
                            font-weight: 500;
                        }
                    }

                    .pv-deliverySelf__modalShop_col {
                        padding: 12px 37px;

                        @include media-breakpoint-down(lg) {
                            padding: 12px 20px;
                        }

                        @include media-breakpoint-down(md) {
                            padding: 12px 9px;
                        }

                        @include media-breakpoint-down(xs) {
                            padding: 12px;
                        }

                        .pv-deliverySelf__modalShop_shopName {
                            font-weight: 500;
                        }

                        .pv-deliverySelf__modalShop_shopScheme {
                            color: #0e974f;
                            text-decoration: underline;
                            cursor: pointer;
                        }

                        &.pv-deliverySelf__modalShop_working {
                            .red {
                                color: #ed1c24;
                            }
                        }

                        .pv-deliverySelf__modalShop_count-red {
                            color: #ed1c24;
                        }

                        .pv-deliverySelf__modalShop-green {
                            color: #0e974f;
                        }

                        .pv-deliverySelf__modalShop-orange {
                            color: #ff8a00;
                        }

                        .pv-deliverySelf__modalShop_countWrap {
                            display: flex;
                        }

                        &:nth-child(2) {
                            @include media-breakpoint-down(md) {
                                display: none;
                            }
                        }

                        &:nth-child(3) {
                            @include media-breakpoint-down(sm) {
                                display: none;
                            }
                        }

                        &:nth-child(4) {
                            @include media-breakpoint-down(xs) {
                                display: none;
                            }
                        }
                    }
                }
            }

            .pv-deliverySelf__modalMap {
                background-image: url(images/map-mock.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 360px;
                width: 100%;
                display: none;
            }
        }
    }
}