@import "../../common/styles/styles";

.pv-mainTopBanner {
    height: 550px;

    >.container,
    >.container>.row {
        height: 100%;
    }

    @include media-breakpoint-down(lg) {
        height: 470px;
    }

    @include media-breakpoint-down(md) {
        height: 352px;
    }

    @include media-breakpoint-down(sm) {
        height: 275px;
    }

    .container-fluid {
        padding: 0;
    }

    .pv-mainTopBanner_slider {

        .pv-mainTopBanner_sliderItem {
            color: #ffffff;
            font-family: "Trebuchet MS";
            background-image: url(images/indexBg.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding: 140px;

            @include media-breakpoint-down(md) {
                padding: 40px;
            }

            .pv-main_btn {
                display: block;
                max-width: 200px;
                margin: 50px 0 0 0;

                @include media-breakpoint-down(md) {
                    margin: 30px 0 0 0;
                    font-size: 13px;
                    max-width: 170px;
                }

                @include media-breakpoint-down(sm) {
                    font-size: 12px;
                    max-width: 110px;
                }

                &:hover {
                    text-decoration: none;
                    color: #ffffff;
                }
            }

            .pv-mainInfo__title {
                margin: 0;
                width: 520px;
                font-size: 50px;
                line-height: 60px;

                @include media-breakpoint-down(md) {
                    font-size: 40px;
                    line-height: 54px;
                    width: 450px;
                }

                @include media-breakpoint-down(xs) {
                    font-size: 27px;
                    line-height: 36px;
                }
            }

            .pv-mainInfo__desc {
                font-size: 20px;
                width: 220px;
                margin-top: 20px;

                @include media-breakpoint-down(md) {
                    font-size: 14px;
                }
            }
        }

        .slick-arrow {
            height: 40px;
            width: 40px;
            z-index: 100;

            @include media-breakpoint-down(md) {
                height: 20px;
                width: 20px;
            }

            &:before {
                font-size: 40px;

                @include media-breakpoint-down(md) {
                    font-size: 20px;
                }
            }

            &.slick-prev {
                left: 30px;

                @include media-breakpoint-down(md) {
                    left: 25px;
                }
            }

            &.slick-next {
                right: 30px;

                @include media-breakpoint-down(md) {
                    right: 25px;
                }
            }
        }
    }
}

.pv-mainCats {
    margin-top: 50px;

    .pv-mainCats_wrap {
        margin-bottom: 30px;
    }

    .pv-mainSliderMobile {
        .pv-mainSliderMobile__title {
            font-family: "Trebuchet MS";
            font-size: 36px;
        }

        .pv-mainSliderMobile__nav {
            margin-top: 20px;

            &.show {
                .pv-mainSliderMobile__navItem {
                    display: flex;
                }
            }

            .pv-mainSliderMobile__navItem {
                height: 50px;
                border: solid 1px #e9eaec;
                margin-top: -1px;
                display: none;

                &:nth-child(-n+6) {
                    display: flex;
                }

                &:after {
                    content: "\F105";
                    color: #0e974f;
                    font-family: "FontAwesome";
                    font-size: 18px;
                    display: flex;
                    align-items: center;
                    margin-right: 15px;
                }

                .pv-mainSliderMobile__navItem_wrap {
                    font-weight: 500;
                    color: #000000;
                    text-decoration: none;
                    padding: 9px;
                    display: flex;
                    align-items: center;
                    width: 100%;

                    &:hover {
                        .pv-mainSliderMobile__navImg {
                            &.pv-mainSliderMobile__navImg_plenki {
                                background-image: url(images/cat_plenki-hov.jpg);
                            }

                            &.pv-mainSliderMobile__navImg_plenkiTon {
                                background-image: url(images/cat_plenkiTon-hov.jpg);
                            }

                            &.pv-mainSliderMobile__navImg_plenkiAntigrav {
                                background-image: url(images/cat_plenkiAntigrav-hov.jpg);
                            }

                            &.pv-mainSliderMobile__navImg_alkantara {
                                background-image: url(images/cat_alkantara-hov.jpg);
                            }

                            &.pv-mainSliderMobile__navImg_ekoKoja {
                                background-image: url(images/cat_ekoKoja-hov.jpg);
                            }

                            &.pv-mainSliderMobile__navImg_rezina {
                                background-image: url(images/cat_rezina-hov.jpg);
                            }
                        }
                    }

                    .pv-mainSliderMobile__navImg {
                        width: 30px;
                        height: 30px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        margin-right: 15px;

                        &.pv-mainSliderMobile__navImg_plenki {
                            background-image: url(images/cat_plenki.jpg);
                        }

                        &.pv-mainSliderMobile__navImg_plenkiTon {
                            background-image: url(images/cat_plenkiTon.jpg);
                        }

                        &.pv-mainSliderMobile__navImg_plenkiAntigrav {
                            background-image: url(images/cat_plenkiAntigrav.jpg);
                        }

                        &.pv-mainSliderMobile__navImg_alkantara {
                            background-image: url(images/cat_alkantara.jpg);
                        }

                        &.pv-mainSliderMobile__navImg_ekoKoja {
                            background-image: url(images/cat_ekoKoja.jpg);
                        }

                        &.pv-mainSliderMobile__navImg_rezina {
                            background-image: url(images/cat_rezina.jpg);
                        }
                    }

                    .pv-mainSliderMobile__navTitle {
                        font-weight: 500;
                    }
                }
            }
        }

        .pv-mainSliderMobile__more {
            height: 50px;
            border-radius: 4px;
            border: solid 1px #e0e7ee;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            color: #979797;
            text-transform: uppercase;
            margin-top: 30px;
            cursor: pointer;

            &.open {
                .show {
                    display: none;
                }

                .hide {
                    display: block;
                }
            }

            .show {
                display: block;
            }

            .hide {
                display: none;
            }
        }
    }

    .pv-mainSliderNav {
        .pv-mainSliderNav__item {
            .pv-mainSliderNav__itemImg_wrap {
                &:hover {
                    .pv-mainSliderNav__itemImg {
                        .pv-mainSliderNav__itemImg_title {
                            opacity: 1;
                        }

                        &.pv-mainSliderNav__itemImg_plenki {
                            background-image: url(images/cat_plenki-hov.jpg);
                        }

                        &.pv-mainSliderNav__itemImg_plenkiTon {
                            background-image: url(images/cat_plenkiTon-hov.jpg);
                        }

                        &.pv-mainSliderNav__itemImg_plenkiAntigrav {
                            background-image: url(images/cat_plenkiAntigrav-hov.jpg);
                        }

                        &.pv-mainSliderNav__itemImg_alkantara {
                            background-image: url(images/cat_alkantara-hov.jpg);
                        }

                        &.pv-mainSliderNav__itemImg_ekoKoja {
                            background-image: url(images/cat_ekoKoja-hov.jpg);
                        }

                        &.pv-mainSliderNav__itemImg_rezina {
                            background-image: url(images/cat_rezina-hov.jpg);
                        }
                    }
                }

                .pv-mainSliderNav__itemImg {
                    width: 240px;
                    height: 240px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    transition: all 0.3s ease-in-out;
                    display: flex;
                    padding: 20px;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    .pv-mainSliderNav__itemImg_title {
                        color: #ffffff;
                        font-family: "Trebuchet MS";
                        font-size: 20px;
                        font-weight: 100;
                        text-transform: uppercase;
                        text-align: center;
                        margin-top: 50px;
                        opacity: 0;
                        transition: all 0.3s ease-in-out;
                    }

                    &.pv-mainSliderNav__itemImg_plenki {
                        background-image: url(images/cat_plenki.jpg);
                    }

                    &.pv-mainSliderNav__itemImg_plenkiTon {
                        background-image: url(images/cat_plenkiTon.jpg);
                    }

                    &.pv-mainSliderNav__itemImg_plenkiAntigrav {
                        background-image: url(images/cat_plenkiAntigrav.jpg);
                    }

                    &.pv-mainSliderNav__itemImg_alkantara {
                        background-image: url(images/cat_alkantara.jpg);
                    }

                    &.pv-mainSliderNav__itemImg_ekoKoja {
                        background-image: url(images/cat_ekoKoja.jpg);
                    }

                    &.pv-mainSliderNav__itemImg_rezina {
                        background-image: url(images/cat_rezina.jpg);
                    }
                }
            }

            .pv-mainSliderNav__itemTitle {
                font-family: "Trebuchet MS";
                font-size: 18px;
                padding: 15px;
            }
        }

        .slick-arrow {
            bottom: 0;
            top: 105%;
            height: 25px;
            width: 25px;

            &:before {
                font-size: 25px;
            }

            &.slick-prev {
                left: calc(100% - 70px);
            }

            &.slick-next {
                left: calc(100% - 40px);
            }
        }
    }
}

.pv-car {
    .pv-carImage {
        width: 100%;
        height: 445px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition: all .3s ease-in-out;
        background-image: url(images/lamba_send/gray_neutral.png);
        position: relative;
        z-index: 100;

        &.hide {
            transform: scale(1.5);
            opacity: 0;
        }

        &.show {
            transform: scale(1);
            opacity: 1;
        }
    }

    .pv-carImage_alkantara {
        width: 100%;
        height: 445px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition: all .3s ease-in-out;
        background-image: url(images/lamba_send/alkantara.jpg);
        position: absolute;
        z-index: 100;
        opacity: 0;
        transform: scale(0.5);
        top: 0;

        &.hide {
            transform: scale(0.5);
            opacity: 0;
        }

        &.show {
            transform: scale(1);
            opacity: 1;
        }
    }

    .pv-carImage_ekoKoja {
        width: 100%;
        height: 445px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition: all .3s ease-in-out;
        background-image: url(images/lamba_send/ekokoja.jpg);
        position: absolute;
        z-index: 100;
        opacity: 0;
        transform: scale(0.5);
        top: 0;

        &.hide {
            transform: scale(0.5);
            opacity: 0;
        }

        &.show {
            transform: scale(1);
            opacity: 1;
        }
    }

    .pv-carImage__contur {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(images/lamba_send/contur.png);
        position: relative;
        z-index: 5;
        transition: all 0.5s ease-in-out;

        .pv-carImage__conturWrap {
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            position: absolute;
            z-index: 6;
            right: 0;
            transition: all 0.5s ease-in-out;

            &.hide {
                width: 0;
            }
        }
    }
}

.pv-mainFullBanners_wrap {
    display: flex;
    width: 100%;
    justify-content: space-around;

    .pv-mainFullBanners {
        width: calc(100% - 300px);

        .pv-mainFullBanner {
            height: 325px;
            justify-content: start;

            @include media-breakpoint-down(lg) {
                height: 270px;
            }

            @include media-breakpoint-down(md) {
                height: auto;
                justify-content: center;
            }

            @include media-breakpoint-down(xs) {
                height: 325px;
            }
        }

        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }

    .pv-mainFullBanners__coupon {
        height: 325px;

        @include media-breakpoint-down(lg) {
            height: 270px;
        }
    }
}

.pv-mainFullBanners {
    margin-bottom: 70px !important;

    .pv-mainFullBanner {
        color: #ffffff;
        height: 300px;
        background-color: #000000;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex !important;
        justify-content: center;
        flex-flow: column;
        padding: 30px 80px;

        @include media-breakpoint-down(lg) {
            height: 270px;
        }

        @include media-breakpoint-down(xs) {
            height: 540px;
            justify-content: start;
        }

        &.pv-mainFullBanner_left {
            background-image: url(images/banner_left.png);
        }

        &.pv-mainFullBanner_1 {
            background-image: url(images/slider_large_1.jpg);

            @include media-breakpoint-down(lg) {
                background-image: url(images/slider_mid_1.jpg);
            }

            @include media-breakpoint-down(xs) {
                background-image: url(images/slider_small_1.jpg);
            }
        }

        &.pv-mainFullBanner_2 {
            background-image: url(images/slider_large_2.jpg);

            @include media-breakpoint-down(lg) {
                background-image: url(images/slider_mid_2.jpg);
            }

            @include media-breakpoint-down(xs) {
                background-image: url(images/slider_small_2.jpg);
            }
        }

        &.pv-mainFullBanner_3 {
            background-image: url(images/slider_large_3.jpg);

            @include media-breakpoint-down(lg) {
                background-image: url(images/slider_mid_3.jpg);
            }

            @include media-breakpoint-down(xs) {
                background-image: url(images/slider_small_3.jpg);
            }
        }

        .pv-mainFullBanner__title {
            font-family: "Trebuchet MS";
            font-size: 34px;

            @include media-breakpoint-down(lg) {
                font-size: 28px;
            }
        }

        .pv-mainFullBanner__text {
            margin-top: 25px;
        }

        .pv-mainFullBanner__button {
            margin: 25px 0 0 0;
            width: fit-content;
            color: #ffffff;
            text-decoration: none;
        }
    }

    .slick-arrow {
        height: 25px;
        width: 25px;

        &:before {
            font-size: 25px;
        }
    }

    .slick-prev,
    .slick-next {
        z-index: 100;
    }

    .slick-prev {
        left: 20px;
    }

    .slick-next {
        right: 20px;
    }

    .slick-dots {
        bottom: -50px;

        li {
            button {
                &:before {
                    font-size: 10px;
                }
            }
        }
    }
}

.pv-mainService {
    margin: 30px 0 70px 0;

    .pv-mainService__item {
        text-align: center;

        @include media-breakpoint-down(sm) {
            margin: 20px 0;
        }

        .pv-mainService__img {
            margin-bottom: 20px;
        }

        .pv-mainService__title {
            font-family: "Trebuchet MS";
            font-size: 28px;
            color: #0b162b;

            @include media-breakpoint-down(md) {
                font-size: 23px;
            }
        }

        .pv-mainService__text {
            margin-top: 15px;

            @include media-breakpoint-down(sm) {
                max-width: 260px;
                margin: 15px auto 0 auto;
            }
        }
    }
}

.pv-mainPosts {
    margin: 35px 0 60px 0;

    .pv-mainPosts__nav {
        margin-bottom: 35px;

        .pv-mainPosts__navItem {
            font-size: 15px;
            font-weight: 500;
            color: #6d7278;
            padding: 10px 20px;
            text-decoration: none;

            &.active,
            &:hover {
                border-bottom: 2px solid #0e974f;
            }
        }
    }

    .pv-mainPostsSlider {
        .pv-mainPosts__item {
            padding: 0 15px;

            .pv-mainPosts__itemWrap {
                border: solid 1px #e0e7ee;

                .pv-mainPosts__itemImg {
                    width: 100%;
                }

                .pv-mainPosts__info {
                    padding: 20px;

                    .pv-mainPosts__itemTitle {
                        font-family: "Trebuchet MS";
                        font-size: 20px;
                        margin-bottom: 15px;
                    }

                    .pv-mainPosts__itemDesc {
                        font-size: 13px;
                    }
                }
            }
        }

        .slick-arrow {
            bottom: 0;
            top: 108%;
            height: 25px;
            width: 25px;

            &:before {
                font-size: 25px;
            }

            &.slick-prev {
                left: calc(100% - 70px);
            }

            &.slick-next {
                left: calc(100% - 40px);
            }
        }
    }
}

.pv-mainVideo {
    height: 625px;
    background-image: url(images/videoBg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 75px;

    >.container,
    >.container>.row {
        height: 100%;
    }

    .pv-mainVideoTop {
        color: #ffffff;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-flow: column;

        .pv-mainVideoTitle {
            font-size: 36px;
            margin: 0;
            line-height: 1.4;
            font-family: "Trebuchet MS";

            @include media-breakpoint-down(md) {
                font-size: 32px;
            }

            @include media-breakpoint-down(sm) {
                font-size: 24px;
            }

            @include media-breakpoint-down(xs) {
                font-size: 20px;
                padding-left: 25px;
            }
        }

        .pv-mainVideoDesc {
            margin-top: 15px;
        }
    }

    .pv-mainVideoSlider {
        margin-top: 50px;

        .pv-mainVideoSlider__item {
            .pv-mainVideoSlider__itemWrap {
                padding: 0 15px;
                color: #ffffff;

                .pv-mainVideoSlider__itemImg {
                    width: 100%;
                }

                .pv-mainVideoSlider__itemTitle {
                    margin-top: 24px;
                    font-size: 20px;
                    font-family: "Trebuchet MS";
                }

                .pv-mainVideoSlider__itemDesc {
                    font-size: 13px;
                    margin-top: 10px;
                }
            }
        }
    }

    .slick-dots {
        margin-top: 10px;
        bottom: -50px;

        li {
            button {
                &:before {
                    color: #ffffff;
                    font-size: 10px;
                }
            }
        }
    }

    .slick-arrow {
        bottom: 0;
        top: 115%;
        height: 25px;
        width: 25px;
        z-index: 100;

        &:before {
            font-size: 25px;
        }

        &.slick-prev {
            left: calc(100% - 70px);
        }

        &.slick-next {
            left: calc(100% - 40px);
        }
    }
}

.pv-shopInfo {
    padding: 75px 0 50px 0;

    .pv-shopInfo__title {
        font-family: "Trebuchet MS";
        font-size: 36px;

        @include media-breakpoint-down(md) {
            font-size: 32px;
        }
    }

    .pv-shopInfo__text {
        margin-top: 20px;
    }
}

.pv-mainBonus {
    height: 525px;
    background-image: url(images/cashbackBg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0;

    @include media-breakpoint-down(md) {
        height: auto;
        background-image: radial-gradient(circle at 0 0, #272727, #000000);
    }

    @include media-breakpoint-down(sm) {
        padding: 90px 0;
    }

    .pv-mainBonus__wrap {
        text-align: center;
        justify-content: center;
        display: flex;
        flex-flow: column;
        height: 100%;
        color: #ffffff;

        .pv-mainBonus__title {
            font-family: "Trebuchet MS";
            font-size: 36px;

            @include media-breakpoint-down(sm) {
                font-size: 30px;
            }
        }

        .pv-mainBonus__itmes {
            margin: 70px 0;

            .pv-mainBonus__item {
                text-align: center;
                padding: 0 30px;

                @include media-breakpoint-down(lg) {
                    padding: 0 10px;
                }

                @include media-breakpoint-down(xs) {
                    margin-bottom: 30px;
                }

                .pv-mainBonus__itemImg {
                    margin-bottom: 30px;
                }

                .pv-mainBonus__itemText {
                    @include media-breakpoint-down(md) {
                        padding: 0 30px;
                    }

                    @include media-breakpoint-down(sm) {
                        padding: 0;
                    }

                    @include media-breakpoint-down(xs) {
                        max-width: 240px;
                        margin: 0 auto;
                    }
                }

                &:nth-child(1),
                &:nth-child(2) {
                    @include media-breakpoint-down(md) {
                        margin-bottom: 30px;
                    }
                }
            }
        }

        .pv-mainBonus__itmesBtn {
            width: 100%;
            max-width: 400px;
            height: 50px;
            border-radius: 4px;
            border: solid 1px rgba(200, 200, 200, 0.3);
            background-color: #f2f2f2;
            color: #6d7278;
            font-size: 15px;
            font-weight: 500;
            text-decoration: none;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;

            &:hover {
                color: #000000;
            }
        }
    }
}

.pv-mainFeedbacks {
    background-color: #000000;
    color: #ffffff;
    padding: 90px 0;

    .pv-mainFeedbacks__info {
        padding: 0 80px;

        @include media-breakpoint-down(lg) {
            padding: 0 40px;
        }

        @include media-breakpoint-down(sm) {
            padding: 0 15px;
        }

        .pv-mainFeedbacks__infoTitle {
            font-family: "Trebuchet MS";
            font-size: 30px;
            margin-bottom: 20px;

            @include media-breakpoint-down(md) {
                text-align: center;
            }
        }

        .pv-mainFeedbacks__infoText {
            margin-bottom: 20px;

            @include media-breakpoint-down(md) {
                text-align: center;
                margin-bottom: 40px;
            }
        }

        .pv-mainFeedbacks__infoSocial {
            text-align: center;

            .pv-mainFeedbacks__infoLogo {
                max-width: 220px;
                margin: 0 auto;
            }

            .pv-mainFeedbacks__infoStars_wrap {
                display: flex;
                justify-content: center;
                align-items: center;

                .pv-mainFeedbacks__infoStars {
                    color: #f7b500;
                    margin-right: 10px;

                    i {
                        margin: 0 2px;
                        font-size: 12px;
                    }
                }

                .pv-mainFeedbacks__infoPoints {
                    font-size: 16px;
                    font-weight: 300;
                }
            }
        }
    }

    .pv-mainFeedbacks__slider_wrap {
        padding: 0 80px;

        @include media-breakpoint-down(lg) {
            padding: 0;
        }

        @include media-breakpoint-down(md) {
            padding: 0 40px;
        }

        @include media-breakpoint-down(sm) {
            padding: 0 15px;
        }

        .pv-mainFeedbacks__slider {
            .pv-mainFeedbacks__sliderItem {
                width: 100%;
            }

            .slick-dots {
                bottom: -45px;

                li {
                    button {
                        &:before {
                            color: #ffffff;
                            font-size: 10px;
                        }
                    }
                }
            }

            .slick-arrow {
                &:before {
                    font-size: 25px;
                }
            }

            .slick-prev,
            .slick-next {
                z-index: 100;
            }

            .slick-prev {
                left: 15px;
            }

            .slick-next {
                right: 15px;
            }
        }
    }
}

.pv-mainFooter {
    background-color: #f8f8f8;
    padding: 25px 0;

    .pv-mainFooter__phoneWrap {
        @include media-breakpoint-down(md) {
            margin-bottom: 20px;
        }

        @include media-breakpoint-down(xs) {
            text-align: center;
        }

        .pv-mainFooter__phone {
            font-size: 22px;
            font-weight: 500;

            @include media-breakpoint-down(lg) {
                font-size: 20px;
            }

            @include media-breakpoint-down(md) {
                font-size: 22px;
            }
        }

        .pv-mainFooter__everyday {
            @include media-breakpoint-down(lg) {
                font-size: 12px;
            }

            @include media-breakpoint-down(md) {
                font-size: 14px;
            }
        }
    }

    .pv-mainFooter__bonusWrap {
        display: flex;
        align-items: center;

        @include media-breakpoint-down(md) {
            margin-bottom: 20px;
        }

        @include media-breakpoint-down(xs) {
            justify-content: center;
        }

        .pv-mainFooter__bonusIcon {
            @include media-breakpoint-down(lg) {
                width: 50px;
            }

            @include media-breakpoint-down(md) {
                width: initial;
            }
        }

        .pv-mainFooter__bonusText {
            @include media-breakpoint-down(lg) {
                font-size: 12px;
            }

            @include media-breakpoint-down(md) {
                font-size: 14px;
            }
        }
    }

    .pv-mainFooter__bonusButton {
        height: 50px;
        border-radius: 4px;
        background-color: #000000;
        font-size: 12px;
        color: #ffffff;
        text-transform: uppercase;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        text-decoration: none;

        @include media-breakpoint-down(lg) {
            height: 40px;
            font-size: 11px;
            padding: 0 10px;
        }

        @include media-breakpoint-down(md) {
            height: 50px;
            font-size: 14px;
            padding: 0 20px;
        }

        @include media-breakpoint-down(xs) {
            margin-bottom: 20px;
        }
    }

    .pv-mainFooter__socialWrap {
        @include media-breakpoint-down(xs) {
            text-align: center;
        }

        .pv-mainFooter__socialTitle {
            @include media-breakpoint-down(lg) {
                font-size: 12px;
            }

            @include media-breakpoint-down(md) {
                font-size: 14px;
            }
        }

        .pv-mainFooter__socialIcons {
            .pv-mainFooter__socialIcon {
                margin-right: 10px;
            }
        }
    }
}