extends ../../components/base/base
block title
    | Contacts page
block main
    .container-fluid

        .container
            .row.d-none.d-md-flex
                ul.col-12.pv-breadcrumb 
                    li.pv-breadcrumb__item 
                        a(href="#").pv-breadcrumb__link Главная страница
                    li.pv-breadcrumb__item 
                        a(href="#").pv-breadcrumb__link О компании
                    li.pv-breadcrumb__item Контакты