@import "../../common/styles/styles";

.pv-contactsInfo {
    @include media-breakpoint-down(lg) {
        margin-top: 25px;
    }

    .pv-contactsInfo__title {
        font-family: "Trebuchet MS";
        font-size: 36px;
        margin-bottom: 20px;
    }

    .pv-contactsInfo__types {
        .pv-contactsInfo__type {
            margin-top: 25px;

            &:first-child {
                margin-top: 0;
            }
        }

        .pv-contactsInfo__type-title {
            font-family: "Trebuchet MS";
            font-size: 24px;
            line-height: 1;
            margin-bottom: 12px;
        }

        .pv-contactsInfo__type-subtitle {
            font-size: 16px;
            font-weight: 300;
            line-height: 1.4;
            margin-bottom: 15px;

        }

        .pv-contactsInfo__type-dataWrap {
            display: flex;
            align-items: flex-start;

            .pv-contactsInfo__type-dataIcon {
                margin-right: 10px;
                margin-top: 4px;
            }

            .pv-contactsInfo__type-dataText {
                font-size: 14px;
                line-height: 1.6;
                font-weight: 300;

            }
        }
    }
}

.pv-af__banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 75px 0;
    margin: 75px 0 25px 0;
    background-image: url(images/afBg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    @include media-breakpoint-down(md) {
        padding: 80px 0;
        margin-top: 80px;
        height: inherit;
    }

    @include media-breakpoint-down(sm) {
        padding: 60px 0;
        margin-top: 60px;
    }

    @include media-breakpoint-down(sm) {
        padding: 40px 0;
        margin-top: 40px;
    }

    .pv-af__banner_wrap {
        .pv-af__banner_title {
            color: #ffffff;
            font-family: "Trebuchet MS";
            font-size: 36px;
            text-align: center;
            margin-bottom: 20px;

            @include media-breakpoint-down(sm) {
                font-size: 2rem;
            }
        }

        .pv-af__banner_subtitle {
            color: #ffffff;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.6;
            max-width: 400px;
            margin: 0 auto;
            text-align: center;
        }

        .pv-af__banner_form {
            display: flex;
            align-items: center;
            width: 90%;
            max-width: 600px;
            margin: 25px auto;
            justify-content: center;

            @include media-breakpoint-down(xs) {
                padding: 20px 15px;
                width: 100%;
            }

            .pv-af__banner_input {
                color: #ffffff;
                font-size: 14px;
                font-weight: 300;
                width: 70%;
                padding: 10px 20px;
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 4px 0 0 4px;

                @include media-breakpoint-down(lg) {
                    padding: 10px 20px;
                }

                @include media-breakpoint-down(md) {
                    font-size: 18px;
                }

                @include media-breakpoint-down(sm) {
                    padding: 8px 20px;
                    margin: 0;
                    font-size: 16px;
                }

                @include media-breakpoint-down(xs) {
                    width: 100%;
                    font-size: 14px;
                    padding: 10px 20px;
                }
            }

            .pv-main_btn {
                margin: 0;
                padding: 10px 30px;
                border-radius: 0 4px 4px 0;
                font-size: 14px;
                font-weight: 500;
                text-transform: uppercase;
            }
        }

        .pv-af__banner_info {

            font-size: 10px;
            font-weight: 400;
            line-height: 1.2;

            margin-top: 25px;
            color: #c5c5c5;
            text-align: center;

            @include media-breakpoint-down(xs) {
                font-size: 11px;
            }
        }

        .pv-af__banner_legacy {
            color: #c5c5c5;
            text-decoration: none;
            border-bottom: 1px dashed;
        }
    }
}